body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:134px;
    top:37px;
    width:105px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:387px;
    top:14px;
    width:153px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:689px;
    top:14px;
    width:105px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:966px;
    top:14px;
    width:105px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../Derek_Sitemap_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u4 {
    position:absolute;
    left:86px;
    top:60px;
    width:200px;
    height:10px;
    
}

.u5_line {
    background-image: url('../Derek_Sitemap_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u5 {
    position:absolute;
    left:363px;
    top:60px;
    width:200px;
    height:10px;
    
}

.u6_line {
    background-image: url('../Derek_Sitemap_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u6 {
    position:absolute;
    left:641px;
    top:60px;
    width:200px;
    height:10px;
    
}

.u7_line {
    background-image: url('../Derek_Sitemap_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u7 {
    position:absolute;
    left:918px;
    top:60px;
    width:200px;
    height:10px;
    
}

.u8_normal {
    background-image: url('../Derek_Sitemap_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:86px;
    top:89px;
    width:200px;
    height:149px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:155px;
}

.u9 {
    position:absolute;
    left:2px;
    top:66px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Derek_Sitemap_files/u8_normal.png');
}

.u10_container {
    position:absolute;
    left:363px;
    top:89px;
    width:200px;
    height:149px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:155px;
}

.u11 {
    position:absolute;
    left:2px;
    top:66px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Derek_Sitemap_files/u8_normal.png');
}

.u12_container {
    position:absolute;
    left:641px;
    top:89px;
    width:200px;
    height:149px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:155px;
}

.u13 {
    position:absolute;
    left:5px;
    top:2px;
    width:193px;
    height:88px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Derek_Sitemap_files/u8_normal.png');
}

.u14_container {
    position:absolute;
    left:918px;
    top:89px;
    width:200px;
    height:149px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:155px;
}

.u15 {
    position:absolute;
    left:2px;
    top:66px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:-25px;
    top:140px;
    width:136px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u17_normal {
    background-image: url('../Derek_Sitemap_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:681px;
    top:270px;
    width:160px;
    height:36px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:42px;
}

.u18 {
    position:absolute;
    left:5px;
    top:2px;
    width:153px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:681px;
    top:249px;
    width:160px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Derek_Sitemap_files/u17_normal.png');
}

.u20_container {
    position:absolute;
    left:681px;
    top:353px;
    width:160px;
    height:36px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:42px;
}

.u21 {
    position:absolute;
    left:5px;
    top:2px;
    width:153px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Derek_Sitemap_files/u17_normal.png');
}

.u22_container {
    position:absolute;
    left:681px;
    top:312px;
    width:160px;
    height:36px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:42px;
}

.u23 {
    position:absolute;
    left:5px;
    top:2px;
    width:153px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Derek_Sitemap_files/u17_normal.png');
}

.u24_container {
    position:absolute;
    left:681px;
    top:394px;
    width:160px;
    height:36px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:42px;
}

.u25 {
    position:absolute;
    left:5px;
    top:2px;
    width:153px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Derek_Sitemap_files/u17_normal.png');
}

.u26_container {
    position:absolute;
    left:681px;
    top:435px;
    width:160px;
    height:36px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:42px;
}

.u27 {
    position:absolute;
    left:5px;
    top:2px;
    width:153px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Derek_Sitemap_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:86px;
    top:549px;
    width:200px;
    height:149px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:155px;
}

.u29 {
    position:absolute;
    left:2px;
    top:66px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Derek_Sitemap_files/u28_normal.png');
}

.u30_container {
    position:absolute;
    left:363px;
    top:549px;
    width:200px;
    height:149px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:155px;
}

.u31 {
    position:absolute;
    left:2px;
    top:66px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Derek_Sitemap_files/u28_normal.png');
}

.u32_container {
    position:absolute;
    left:641px;
    top:549px;
    width:200px;
    height:149px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:155px;
}

.u33 {
    position:absolute;
    left:5px;
    top:2px;
    width:193px;
    height:90px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Derek_Sitemap_files/u28_normal.png');
}

.u34_container {
    position:absolute;
    left:918px;
    top:549px;
    width:200px;
    height:149px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:155px;
}

.u35 {
    position:absolute;
    left:2px;
    top:66px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:-25px;
    top:600px;
    width:136px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u37_normal {
    background-image: url('../Derek_Sitemap_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:681px;
    top:730px;
    width:160px;
    height:36px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:42px;
}

.u38 {
    position:absolute;
    left:5px;
    top:2px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:702px;
    top:709px;
    width:139px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Derek_Sitemap_files/u37_normal.png');
}

.u40_container {
    position:absolute;
    left:681px;
    top:772px;
    width:160px;
    height:36px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:42px;
}

.u41 {
    position:absolute;
    left:5px;
    top:2px;
    width:153px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

