body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:fixed;
    left:0px;
    top:0px;
    width:751px;
    height:236px;
    overflow:hidden;
}

#pd1u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:236px;
    
}

.u1_normal {
    background-image: url('../index_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:143px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:149px;
}

.u2 {
    position:absolute;
    left:2px;
    top:64px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../index_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:594px;
    top:11px;
    width:122px;
    height:122px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:122px;
    height:122px;
}

.u4 {
    position:absolute;
    left:2px;
    top:53px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_selected {
    background-image: url('../index_files/btnMenuTab_u5_selected.png');
}

.u5_normal {
    background-image: url('../index_files/btnMenuTab_u5_normal.png');
}

.u5_container {
    position:absolute;
    left:562px;
    top:143px;
    width:188px;
    height:92px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:194px;
    height:98px;
}

.u6 {
    position:absolute;
    left:2px;
    top:38px;
    width:184px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_selected {
    background-image: url('../index_files/btnMenuTab_u5_selected.png');
}

.u7_normal {
    background-image: url('../index_files/btnMenuTab_u5_normal.png');
}

.u7_container {
    position:absolute;
    left:374px;
    top:143px;
    width:188px;
    height:92px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:194px;
    height:98px;
}

.u8 {
    position:absolute;
    left:2px;
    top:38px;
    width:184px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_selected {
    background-image: url('../index_files/btnPlacesTab_u9_selected.png');
}

.u9_normal {
    background-image: url('../index_files/btnPlacesTab_u9_normal.png');
}

.u9_container {
    position:absolute;
    left:187px;
    top:143px;
    width:187px;
    height:92px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:193px;
    height:98px;
}

.u10 {
    position:absolute;
    left:2px;
    top:38px;
    width:183px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_selected {
    background-image: url('../index_files/btnPlacesTab_u9_selected.png');
}

.u11_normal {
    background-image: url('../index_files/btnPlacesTab_u9_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:143px;
    width:187px;
    height:92px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:193px;
    height:98px;
}

.u12 {
    position:absolute;
    left:2px;
    top:38px;
    width:183px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../index_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:39px;
    top:20px;
    width:312px;
    height:59px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:312px;
    height:59px;
}

.u14 {
    position:absolute;
    left:2px;
    top:22px;
    width:308px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:28px;
    top:119px;
    width:328px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_selected {
    background-image: url('../index_files/btnHomeIcon_u16_selected.png');
}

.u16_normal {
    background-image: url('../index_files/btnHomeIcon_u16_normal.png');
}

.u16_container {
    position:absolute;
    left:72px;
    top:162px;
    width:50px;
    height:50px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u17 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_selected {
    background-image: url('../index_files/btnArticlesIcon_u18_selected.png');
}

.u18_normal {
    background-image: url('../index_files/btnArticlesIcon_u18_normal.png');
}

.u18_container {
    position:absolute;
    left:438px;
    top:162px;
    width:50px;
    height:50px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u19 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_selected {
    background-image: url('../index_files/btnPlacesIcon_u20_selected.png');
}

.u20_normal {
    background-image: url('../index_files/btnPlacesIcon_u20_normal.png');
}

.u20_container {
    position:absolute;
    left:254px;
    top:162px;
    width:50px;
    height:50px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u21 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_selected {
    background-image: url('../index_files/btnMenuIcon_u22_selected.png');
}

.u22_normal {
    background-image: url('../index_files/btnMenuIcon_u22_normal.png');
}

.u22_container {
    position:absolute;
    left:630px;
    top:162px;
    width:50px;
    height:50px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u23 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:236px;
    
}

.u24_normal {
    background-image: url('../index_files/u1_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:143px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:149px;
}

.u25 {
    position:absolute;
    left:2px;
    top:64px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_selected {
    background-image: url('../index_files/btnMenuTab_u5_selected.png');
}

.u26_normal {
    background-image: url('../index_files/btnMenuTab_u5_normal.png');
}

.u26_container {
    position:absolute;
    left:562px;
    top:143px;
    width:188px;
    height:92px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:194px;
    height:98px;
}

.u27 {
    position:absolute;
    left:2px;
    top:38px;
    width:184px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_selected {
    background-image: url('../index_files/btnMenuTab_u5_selected.png');
}

.u28_normal {
    background-image: url('../index_files/btnMenuTab_u5_normal.png');
}

.u28_container {
    position:absolute;
    left:374px;
    top:143px;
    width:188px;
    height:92px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:194px;
    height:98px;
}

.u29 {
    position:absolute;
    left:2px;
    top:38px;
    width:184px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_selected {
    background-image: url('../index_files/btnPlacesTab_u9_selected.png');
}

.u30_normal {
    background-image: url('../index_files/btnPlacesTab_u9_normal.png');
}

.u30_container {
    position:absolute;
    left:187px;
    top:143px;
    width:187px;
    height:92px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:193px;
    height:98px;
}

.u31 {
    position:absolute;
    left:2px;
    top:38px;
    width:183px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_selected {
    background-image: url('../index_files/btnPlacesTab_u9_selected.png');
}

.u32_normal {
    background-image: url('../index_files/btnPlacesTab_u9_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:143px;
    width:187px;
    height:92px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:193px;
    height:98px;
}

.u33 {
    position:absolute;
    left:2px;
    top:38px;
    width:183px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../index_files/u13_normal.png');
}

.u34_container {
    position:absolute;
    left:39px;
    top:20px;
    width:312px;
    height:59px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:312px;
    height:59px;
}

.u35 {
    position:absolute;
    left:2px;
    top:22px;
    width:308px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:28px;
    top:119px;
    width:328px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_selected {
    background-image: url('../index_files/btnHomeIcon_u16_selected.png');
}

.u37_normal {
    background-image: url('../index_files/btnHomeIcon_u16_normal.png');
}

.u37_container {
    position:absolute;
    left:72px;
    top:162px;
    width:50px;
    height:50px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u38 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_selected {
    background-image: url('../index_files/btnArticlesIcon_u18_selected.png');
}

.u39_normal {
    background-image: url('../index_files/btnArticlesIcon_u18_normal.png');
}

.u39_container {
    position:absolute;
    left:438px;
    top:162px;
    width:50px;
    height:50px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u40 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_selected {
    background-image: url('../index_files/btnPlacesIcon_u20_selected.png');
}

.u41_normal {
    background-image: url('../index_files/btnPlacesIcon_u20_normal.png');
}

.u41_container {
    position:absolute;
    left:254px;
    top:162px;
    width:50px;
    height:50px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u42 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_selected {
    background-image: url('../index_files/btnMenuIcon_u22_selected.png');
}

.u43_normal {
    background-image: url('../index_files/btnMenuIcon_u22_normal.png');
}

.u43_container {
    position:absolute;
    left:630px;
    top:162px;
    width:50px;
    height:50px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u44 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../index_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:535px;
    top:39px;
    width:201px;
    height:81px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:87px;
}

.u46 {
    position:absolute;
    left:2px;
    top:20px;
    width:197px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:390px;
    top:64px;
    width:129px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u48 {
    position:absolute;
    left:374px;
    top:29px;
    width:151px;
    height:104px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u49 {
    position:absolute;
    left:0px;
    top:235px;
    width:751px;
    height:2982px;
    overflow:hidden;
}

#pd3u49 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:2982px;
    
}

.u50_normal {
    background-image: url('../index_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:609px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:615px;
}

.u51 {
    position:absolute;
    left:250px;
    top:20px;
    width:450px;
    height:174px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:36px;
    top:182px;
    width:699px;
    height:258px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../index_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:36px;
    top:8px;
    width:149px;
    height:151px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:149px;
    height:151px;
}

.u54 {
    position:absolute;
    left:2px;
    top:68px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../index_files/u50_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:609px;
    width:750px;
    height:609px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:615px;
}

.u56 {
    position:absolute;
    left:250px;
    top:20px;
    width:450px;
    height:174px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:36px;
    top:791px;
    width:699px;
    height:258px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../index_files/u53_normal.png');
}

.u58_container {
    position:absolute;
    left:36px;
    top:617px;
    width:149px;
    height:151px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:149px;
    height:151px;
}

.u59 {
    position:absolute;
    left:2px;
    top:68px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../index_files/u50_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:1218px;
    width:750px;
    height:609px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:615px;
}

.u61 {
    position:absolute;
    left:250px;
    top:20px;
    width:450px;
    height:174px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:36px;
    top:1400px;
    width:699px;
    height:258px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../index_files/u53_normal.png');
}

.u63_container {
    position:absolute;
    left:36px;
    top:1226px;
    width:149px;
    height:151px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:149px;
    height:151px;
}

.u64 {
    position:absolute;
    left:2px;
    top:68px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u49 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:2982px;
    
}

.u65_normal {
    background-image: url('../index_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:586px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:592px;
}

.u66 {
    position:absolute;
    left:250px;
    top:20px;
    width:450px;
    height:174px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:36px;
    top:212px;
    width:699px;
    height:258px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../index_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:32px;
    top:27px;
    width:168px;
    height:168px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:168px;
    height:168px;
}

.u69 {
    position:absolute;
    left:2px;
    top:76px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../index_files/u65_normal.png');
}

.u70_container {
    position:absolute;
    left:0px;
    top:586px;
    width:750px;
    height:586px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:592px;
}

.u71 {
    position:absolute;
    left:250px;
    top:20px;
    width:450px;
    height:174px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:36px;
    top:798px;
    width:699px;
    height:258px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../index_files/u68_normal.png');
}

.u73_container {
    position:absolute;
    left:32px;
    top:613px;
    width:168px;
    height:168px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:168px;
    height:168px;
}

.u74 {
    position:absolute;
    left:2px;
    top:76px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../index_files/u65_normal.png');
}

.u75_container {
    position:absolute;
    left:0px;
    top:1172px;
    width:750px;
    height:586px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:592px;
}

.u76 {
    position:absolute;
    left:250px;
    top:20px;
    width:450px;
    height:174px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:36px;
    top:1384px;
    width:699px;
    height:258px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../index_files/u68_normal.png');
}

.u78_container {
    position:absolute;
    left:32px;
    top:1199px;
    width:168px;
    height:168px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:168px;
    height:168px;
}

.u79 {
    position:absolute;
    left:2px;
    top:76px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u49 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:2982px;
    
}

.u80_normal {
    background-image: url('../index_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:783px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:789px;
}

.u81 {
    position:absolute;
    left:250px;
    top:20px;
    width:450px;
    height:174px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../index_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:4px;
    top:28px;
    width:193px;
    height:163px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:163px;
}

.u83 {
    position:absolute;
    left:250px;
    top:30px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:38px;
    top:210px;
    width:699px;
    height:387px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../index_files/u80_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:783px;
    width:750px;
    height:783px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:789px;
}

.u86 {
    position:absolute;
    left:250px;
    top:20px;
    width:450px;
    height:174px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../index_files/u82_normal.png');
}

.u87_container {
    position:absolute;
    left:4px;
    top:811px;
    width:193px;
    height:163px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:163px;
}

.u88 {
    position:absolute;
    left:250px;
    top:30px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:38px;
    top:993px;
    width:699px;
    height:387px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../index_files/u80_normal.png');
}

.u90_container {
    position:absolute;
    left:0px;
    top:1566px;
    width:750px;
    height:783px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:789px;
}

.u91 {
    position:absolute;
    left:250px;
    top:20px;
    width:450px;
    height:174px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../index_files/u82_normal.png');
}

.u92_container {
    position:absolute;
    left:4px;
    top:1594px;
    width:193px;
    height:163px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:163px;
}

.u93 {
    position:absolute;
    left:250px;
    top:30px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:38px;
    top:1776px;
    width:699px;
    height:387px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u49 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:2982px;
    
}

.u95_normal {
    background-image: url('../index_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:445px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:451px;
}

.u96 {
    position:absolute;
    left:250px;
    top:20px;
    width:450px;
    height:174px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../index_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:36px;
    top:8px;
    width:151px;
    height:151px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:151px;
}

.u98 {
    position:absolute;
    left:250px;
    top:30px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:36px;
    top:217px;
    width:699px;
    height:172px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../index_files/u95_normal.png');
}

.u100_container {
    position:absolute;
    left:0px;
    top:445px;
    width:750px;
    height:445px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:451px;
}

.u101 {
    position:absolute;
    left:250px;
    top:20px;
    width:450px;
    height:174px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../index_files/u97_normal.png');
}

.u102_container {
    position:absolute;
    left:36px;
    top:453px;
    width:151px;
    height:151px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:151px;
}

.u103 {
    position:absolute;
    left:250px;
    top:30px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:36px;
    top:662px;
    width:699px;
    height:172px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u105 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:1669px;
    overflow:hidden;
}

#pd1u105 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:1669px;
    
}

.u106_normal {
    background-image: url('../index_files/btnMenuTab_u5_normal.png');
}

.u106_container {
    position:absolute;
    left:562px;
    top:143px;
    width:188px;
    height:92px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:194px;
    height:98px;
}

.u107 {
    position:absolute;
    left:2px;
    top:38px;
    width:184px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../index_files/btnPlacesTab_u9_normal.png');
}

.u108_container {
    position:absolute;
    left:0px;
    top:143px;
    width:187px;
    height:92px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:193px;
    height:98px;
}

.u109 {
    position:absolute;
    left:2px;
    top:38px;
    width:183px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../index_files/u110_normal.png');
}

.u110_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:1250px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:1256px;
}

.u111 {
    position:absolute;
    left:2px;
    top:617px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../index_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:24px;
    top:26px;
    width:701px;
    height:1166px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:1172px;
}

.u113 {
    position:absolute;
    left:2px;
    top:575px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../index_files/u114_normal.png');
}

.u114_container {
    position:absolute;
    left:24px;
    top:26px;
    width:701px;
    height:176px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:182px;
}

.u115 {
    position:absolute;
    left:2px;
    top:80px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:59px;
    top:56px;
    width:460px;
    height:116px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../index_files/u117_normal.png');
}

.u117_container {
    position:absolute;
    left:652px;
    top:37px;
    width:54px;
    height:54px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:54px;
    height:54px;
}

.u118 {
    position:absolute;
    left:2px;
    top:19px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u119 {
    position:absolute;
    left:603px;
    top:0px;
    width:144px;
    height:145px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u120_normal {
    background-image: url('../index_files/u45_normal.png');
}

.u120_container {
    position:absolute;
    left:495px;
    top:226px;
    width:201px;
    height:81px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:87px;
}

.u121 {
    position:absolute;
    left:2px;
    top:20px;
    width:197px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:46px;
    top:247px;
    width:414px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_line {
    background-image: url('../index_files/u123_line.png');
}

.u123_line {
    position:absolute;
    left:0px;
    top:4px;
    width:701px;
    height:3px;
}

.u123 {
    position:absolute;
    left:24px;
    top:329px;
    width:701px;
    height:10px;
    
}

.u124 {
    position:absolute;
    left:46px;
    top:349px;
    width:727px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_line {
    background-image: url('../index_files/u125_line.png');
}

.u125_line {
    position:absolute;
    left:0px;
    top:4px;
    width:701px;
    height:3px;
}

.u125 {
    position:absolute;
    left:24px;
    top:719px;
    width:701px;
    height:10px;
    
}

.u126 {
    position:absolute;
    left:46px;
    top:750px;
    width:681px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../index_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:46px;
    top:1060px;
    width:201px;
    height:81px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:87px;
}

.u128 {
    position:absolute;
    left:2px;
    top:20px;
    width:197px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../index_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:46px;
    top:822px;
    width:621px;
    height:80px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:627px;
    height:86px;
}

.u130 {
    position:absolute;
    left:20px;
    top:12px;
    width:599px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../index_files/u129_normal.png');
}

.u131_container {
    position:absolute;
    left:46px;
    top:938px;
    width:621px;
    height:80px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:627px;
    height:86px;
}

.u132 {
    position:absolute;
    left:20px;
    top:12px;
    width:599px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:402px;
    top:1079px;
    width:278px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../index_files/u134_normal.png');
}

.u134_container {
    position:absolute;
    left:74px;
    top:421px;
    width:168px;
    height:194px;
}

#u134_img {
    position:absolute;
    left:0px;
    top:0px;
    width:168px;
    height:194px;
}

.u135 {
    position:absolute;
    left:2px;
    top:89px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../index_files/u136_normal.png');
}

.u136_container {
    position:absolute;
    left:297px;
    top:433px;
    width:154px;
    height:159px;
}

#u136_img {
    position:absolute;
    left:0px;
    top:0px;
    width:154px;
    height:159px;
}

.u137 {
    position:absolute;
    left:2px;
    top:72px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../index_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:506px;
    top:424px;
    width:167px;
    height:177px;
}

#u138_img {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:177px;
}

.u139 {
    position:absolute;
    left:2px;
    top:80px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u140 {
    position:absolute;
    left:55px;
    top:412px;
    width:642px;
    height:204px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u141 {
    position:absolute;
    left:74px;
    top:634px;
    width:622px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u105 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:1669px;
    
}

.u142_normal {
    background-image: url('../index_files/btnMenuTab_u5_normal.png');
}

.u142_container {
    position:absolute;
    left:562px;
    top:143px;
    width:188px;
    height:92px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:194px;
    height:98px;
}

.u143 {
    position:absolute;
    left:2px;
    top:38px;
    width:184px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../index_files/btnPlacesTab_u9_normal.png');
}

.u144_container {
    position:absolute;
    left:0px;
    top:143px;
    width:187px;
    height:92px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:193px;
    height:98px;
}

.u145 {
    position:absolute;
    left:2px;
    top:38px;
    width:183px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../index_files/u110_normal.png');
}

.u146_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:1250px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:1256px;
}

.u147 {
    position:absolute;
    left:2px;
    top:617px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../index_files/u148_normal.png');
}

.u148_container {
    position:absolute;
    left:24px;
    top:26px;
    width:701px;
    height:1486px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:1492px;
}

.u149 {
    position:absolute;
    left:2px;
    top:735px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../index_files/u114_normal.png');
}

.u150_container {
    position:absolute;
    left:24px;
    top:26px;
    width:701px;
    height:176px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:182px;
}

.u151 {
    position:absolute;
    left:2px;
    top:80px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:59px;
    top:56px;
    width:460px;
    height:116px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../index_files/u117_normal.png');
}

.u153_container {
    position:absolute;
    left:652px;
    top:37px;
    width:54px;
    height:54px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:54px;
    height:54px;
}

.u154 {
    position:absolute;
    left:2px;
    top:19px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u155 {
    position:absolute;
    left:603px;
    top:0px;
    width:144px;
    height:145px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u156_normal {
    background-image: url('../index_files/u134_normal.png');
}

.u156_container {
    position:absolute;
    left:75px;
    top:554px;
    width:168px;
    height:194px;
}

#u156_img {
    position:absolute;
    left:0px;
    top:0px;
    width:168px;
    height:194px;
}

.u157 {
    position:absolute;
    left:2px;
    top:89px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../index_files/u136_normal.png');
}

.u158_container {
    position:absolute;
    left:298px;
    top:566px;
    width:154px;
    height:159px;
}

#u158_img {
    position:absolute;
    left:0px;
    top:0px;
    width:154px;
    height:159px;
}

.u159 {
    position:absolute;
    left:2px;
    top:72px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../index_files/u138_normal.png');
}

.u160_container {
    position:absolute;
    left:507px;
    top:557px;
    width:167px;
    height:177px;
}

#u160_img {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:177px;
}

.u161 {
    position:absolute;
    left:2px;
    top:80px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u162 {
    position:absolute;
    left:54px;
    top:545px;
    width:642px;
    height:204px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u163 {
    position:absolute;
    left:59px;
    top:223px;
    width:636px;
    height:215px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:59px;
    top:757px;
    width:637px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:59px;
    top:850px;
    width:647px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../index_files/u127_normal.png');
}

.u166_container {
    position:absolute;
    left:59px;
    top:1312px;
    width:201px;
    height:81px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:87px;
}

.u167 {
    position:absolute;
    left:2px;
    top:20px;
    width:197px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../index_files/u129_normal.png');
}

.u168_container {
    position:absolute;
    left:59px;
    top:922px;
    width:621px;
    height:80px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:627px;
    height:86px;
}

.u169 {
    position:absolute;
    left:20px;
    top:12px;
    width:599px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../index_files/u129_normal.png');
}

.u170_container {
    position:absolute;
    left:59px;
    top:1038px;
    width:621px;
    height:80px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:627px;
    height:86px;
}

.u171 {
    position:absolute;
    left:20px;
    top:12px;
    width:599px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:59px;
    top:1419px;
    width:519px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_line {
    background-image: url('../index_files/u173_line.png');
}

.u173_line {
    position:absolute;
    left:0px;
    top:4px;
    width:701px;
    height:3px;
}

.u173 {
    position:absolute;
    left:24px;
    top:469px;
    width:701px;
    height:10px;
    
}

.u174 {
    position:absolute;
    left:59px;
    top:489px;
    width:647px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_line {
    background-image: url('../index_files/u175_line.png');
}

.u175_line {
    position:absolute;
    left:0px;
    top:4px;
    width:701px;
    height:3px;
}

.u175 {
    position:absolute;
    left:24px;
    top:827px;
    width:701px;
    height:10px;
    
}

.u176 {
    position:absolute;
    left:56px;
    top:1498px;
    width:414px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_line {
    background-image: url('../index_files/u177_line.png');
}

.u177_line {
    position:absolute;
    left:0px;
    top:4px;
    width:701px;
    height:3px;
}

.u177 {
    position:absolute;
    left:24px;
    top:1473px;
    width:701px;
    height:10px;
    
}

.u178 {
    position:absolute;
    left:448px;
    top:1483px;
    width:240px;
    height:65px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:138px;
    top:1155px;
    width:422px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:138px;
    top:1234px;
    width:524px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../index_files/u181_normal.png');
}

.u181_container {
    position:absolute;
    left:75px;
    top:1155px;
    width:41px;
    height:41px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:47px;
}

.u182 {
    position:absolute;
    left:2px;
    top:12px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../index_files/u181_normal.png');
}

.u183_container {
    position:absolute;
    left:75px;
    top:1234px;
    width:41px;
    height:41px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:47px;
}

.u184 {
    position:absolute;
    left:2px;
    top:12px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u185 {
    position:absolute;
    left:480px;
    top:1468px;
    width:245px;
    height:104px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

