body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:0px;
    top:30px;
    width:1024px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../ServiceMapBrowser_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:-122px;
    top:-2px;
    width:1235px;
    height:823px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1235px;
    height:823px;
}

.u2 {
    position:absolute;
    left:2px;
    top:404px;
    width:1231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_mouseOver {
    background-image: url('../ServiceMapBrowser_files/u3_mouseOver.png');
}

.u3_normal {
    background-image: url('../ServiceMapBrowser_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:499px;
    top:90px;
    width:404px;
    height:310px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:404px;
    height:310px;
}

.u4 {
    position:absolute;
    left:2px;
    top:147px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_mouseOver {
    background-image: url('../ServiceMapBrowser_files/u5_mouseOver.png');
}

.u5_normal {
    background-image: url('../ServiceMapBrowser_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:10px;
    top:28px;
    width:74px;
    height:34px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:40px;
}

.u6 {
    position:absolute;
    left:2px;
    top:9px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u7 {
    position:absolute;
    left:489px;
    top:420px;
    width:414px;
    height:309px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

