body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../ServiceMapBrowser_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-52px;
    top:-20px;
    width:1235px;
    height:823px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1235px;
    height:823px;
}

.u1 {
    position:absolute;
    left:2px;
    top:404px;
    width:1231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../ServiceMapBrowser_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:115px;
    top:52px;
    width:885px;
    height:687px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:891px;
    height:693px;
}

.u3 {
    position:absolute;
    left:2px;
    top:336px;
    width:881px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:99px;
    top:0px;
    width:908px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../ServiceMapBrowser_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:569px;
    top:74px;
    width:404px;
    height:310px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:404px;
    height:310px;
}

.u6 {
    position:absolute;
    left:2px;
    top:147px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

