* html .u1_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ServiceMapBrowser_files/u1_normal.png");
}

* html .u3_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ServiceMapBrowser_files/u3_mouseOver.png");
}

* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ServiceMapBrowser_files/u3_normal.png");
}

* html .u5_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ServiceMapBrowser_files/u5_mouseOver.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ServiceMapBrowser_files/u5_normal.png");
}

