body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Join_files/btnMenuTab_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:562px;
    top:143px;
    width:188px;
    height:92px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:194px;
    height:98px;
}

.u1 {
    position:absolute;
    left:2px;
    top:38px;
    width:184px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Join_files/btnHomeTab_u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:143px;
    width:187px;
    height:92px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:193px;
    height:98px;
}

.u3 {
    position:absolute;
    left:2px;
    top:38px;
    width:183px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Join_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:1250px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:1256px;
}

.u5 {
    position:absolute;
    left:2px;
    top:617px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Join_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:24px;
    top:26px;
    width:701px;
    height:1486px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:1492px;
}

.u7 {
    position:absolute;
    left:2px;
    top:735px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Join_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:24px;
    top:26px;
    width:701px;
    height:176px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:182px;
}

.u9 {
    position:absolute;
    left:2px;
    top:80px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Join_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:652px;
    top:37px;
    width:54px;
    height:54px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:54px;
    height:54px;
}

.u11 {
    position:absolute;
    left:2px;
    top:19px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u12 {
    position:absolute;
    left:603px;
    top:0px;
    width:144px;
    height:145px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u13 {
    position:absolute;
    left:86px;
    top:235px;
    width:578px;
    height:190px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:238px;
    top:734px;
    width:241px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Join_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:479px;
    top:1183px;
    width:201px;
    height:81px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:87px;
}

.u16 {
    position:absolute;
    left:2px;
    top:20px;
    width:197px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Join_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:59px;
    top:793px;
    width:621px;
    height:80px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:627px;
    height:86px;
}

.u18 {
    position:absolute;
    left:20px;
    top:19px;
    width:599px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Join_files/u17_normal.png');
}

.u19_container {
    position:absolute;
    left:59px;
    top:909px;
    width:621px;
    height:80px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:627px;
    height:86px;
}

.u20 {
    position:absolute;
    left:20px;
    top:19px;
    width:599px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:50px;
    top:1206px;
    width:519px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_line {
    background-image: url('../Join_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:701px;
    height:3px;
}

.u22 {
    position:absolute;
    left:24px;
    top:459px;
    width:701px;
    height:10px;
    
}

.u23_line {
    background-image: url('../Join_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:0px;
    top:4px;
    width:196px;
    height:3px;
}

.u23 {
    position:absolute;
    left:24px;
    top:746px;
    width:196px;
    height:10px;
    
}

.u24 {
    position:absolute;
    left:102px;
    top:1344px;
    width:414px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../Join_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:701px;
    height:3px;
}

.u25 {
    position:absolute;
    left:24px;
    top:1313px;
    width:701px;
    height:10px;
    
}

.u26 {
    position:absolute;
    left:406px;
    top:1338px;
    width:240px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:130px;
    top:1031px;
    width:422px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:130px;
    top:1110px;
    width:524px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Join_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:75px;
    top:1026px;
    width:41px;
    height:41px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:47px;
}

.u30 {
    position:absolute;
    left:2px;
    top:12px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Join_files/u29_normal.png');
}

.u31_container {
    position:absolute;
    left:75px;
    top:1105px;
    width:41px;
    height:41px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:47px;
}

.u32 {
    position:absolute;
    left:2px;
    top:12px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u33 {
    position:absolute;
    left:468px;
    top:1308px;
    width:223px;
    height:104px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u34 {
    position:absolute;
    left:760px;
    top:517px;
    width:167px;
    height:167px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u35_normal {
    background-image: url('../Join_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:105px;
    top:493px;
    width:541px;
    height:93px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:541px;
    height:93px;
}

.u36 {
    position:absolute;
    left:2px;
    top:38px;
    width:537px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Join_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:105px;
    top:607px;
    width:541px;
    height:94px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:541px;
    height:94px;
}

.u38 {
    position:absolute;
    left:2px;
    top:39px;
    width:537px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u39 {
    position:absolute;
    left:105px;
    top:607px;
    width:541px;
    height:94px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u40 {
    position:absolute;
    left:105px;
    top:493px;
    width:541px;
    height:94px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u41_line {
    background-image: url('../Join_files/u41_line.png');
}

.u41_line {
    position:absolute;
    left:0px;
    top:4px;
    width:221px;
    height:3px;
}

.u41 {
    position:absolute;
    left:504px;
    top:746px;
    width:221px;
    height:10px;
    
}

.u42 {
    position:absolute;
    left:74px;
    top:47px;
    width:572px;
    height:134px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

