body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Login_files/btnMenuTab_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:562px;
    top:143px;
    width:188px;
    height:92px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:194px;
    height:98px;
}

.u1 {
    position:absolute;
    left:2px;
    top:38px;
    width:184px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Login_files/btnHomeTab_u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:143px;
    width:187px;
    height:92px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:193px;
    height:98px;
}

.u3 {
    position:absolute;
    left:2px;
    top:38px;
    width:183px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Login_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:1250px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:1256px;
}

.u5 {
    position:absolute;
    left:2px;
    top:617px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Login_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:24px;
    top:26px;
    width:701px;
    height:1166px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:1172px;
}

.u7 {
    position:absolute;
    left:2px;
    top:575px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Login_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:24px;
    top:26px;
    width:701px;
    height:176px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:182px;
}

.u9 {
    position:absolute;
    left:2px;
    top:80px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:74px;
    top:47px;
    width:547px;
    height:134px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Login_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:652px;
    top:37px;
    width:54px;
    height:54px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:54px;
    height:54px;
}

.u12 {
    position:absolute;
    left:2px;
    top:19px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:607px;
    top:-2px;
    width:144px;
    height:145px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u14_normal {
    background-image: url('../Login_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:466px;
    top:829px;
    width:201px;
    height:81px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:87px;
}

.u15 {
    position:absolute;
    left:2px;
    top:20px;
    width:197px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Login_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:46px;
    top:591px;
    width:621px;
    height:80px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:627px;
    height:86px;
}

.u17 {
    position:absolute;
    left:20px;
    top:19px;
    width:599px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Login_files/u16_normal.png');
}

.u18_container {
    position:absolute;
    left:46px;
    top:707px;
    width:621px;
    height:80px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:627px;
    height:86px;
}

.u19 {
    position:absolute;
    left:20px;
    top:19px;
    width:599px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:160px;
    top:853px;
    width:278px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Login_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:58px;
    top:243px;
    width:609px;
    height:106px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:609px;
    height:106px;
}

.u22 {
    position:absolute;
    left:2px;
    top:45px;
    width:605px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Login_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:58px;
    top:369px;
    width:609px;
    height:105px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:609px;
    height:105px;
}

.u24 {
    position:absolute;
    left:2px;
    top:44px;
    width:605px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u25 {
    position:absolute;
    left:58px;
    top:243px;
    width:609px;
    height:106px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u26 {
    position:absolute;
    left:58px;
    top:369px;
    width:609px;
    height:105px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u27 {
    position:absolute;
    left:168px;
    top:522px;
    width:360px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../Login_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:144px;
    height:3px;
}

.u28 {
    position:absolute;
    left:24px;
    top:534px;
    width:144px;
    height:10px;
    
}

.u29_line {
    background-image: url('../Login_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:0px;
    top:4px;
    width:187px;
    height:3px;
}

.u29 {
    position:absolute;
    left:538px;
    top:534px;
    width:187px;
    height:10px;
    
}

.u30_normal {
    background-image: url('../Login_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:466px;
    top:970px;
    width:201px;
    height:81px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:87px;
}

.u31 {
    position:absolute;
    left:2px;
    top:20px;
    width:197px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:145px;
    top:994px;
    width:334px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_line {
    background-image: url('../Login_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:701px;
    height:3px;
}

.u33 {
    position:absolute;
    left:24px;
    top:942px;
    width:701px;
    height:10px;
    
}

