body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../PageHeader_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:120px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u1 {
    position:absolute;
    left:2px;
    top:52px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../PageHeader_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:641px;
    top:23px;
    width:78px;
    height:78px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:78px;
}

.u3 {
    position:absolute;
    left:2px;
    top:31px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../PageHeader_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:24px;
    top:27px;
    width:69px;
    height:69px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:69px;
}

.u5 {
    position:absolute;
    left:2px;
    top:26px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:120px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u7 {
    position:absolute;
    left:610px;
    top:0px;
    width:140px;
    height:120px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u9 {
    position:absolute;
    left:146px;
    top:19px;
    width:457px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../home_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:120px;
    width:750px;
    height:275px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:281px;
}

.u11 {
    position:absolute;
    left:2px;
    top:78px;
    width:728px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../home_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:52px;
    top:176px;
    width:152px;
    height:152px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:152px;
    height:152px;
}

.u13 {
    position:absolute;
    left:2px;
    top:68px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../home_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:396px;
    width:750px;
    height:275px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:281px;
}

.u15 {
    position:absolute;
    left:2px;
    top:78px;
    width:728px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../home_files/u12_normal.png');
}

.u16_container {
    position:absolute;
    left:52px;
    top:452px;
    width:152px;
    height:152px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:152px;
    height:152px;
}

.u17 {
    position:absolute;
    left:2px;
    top:68px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../home_files/u10_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:670px;
    width:750px;
    height:275px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:281px;
}

.u19 {
    position:absolute;
    left:2px;
    top:78px;
    width:728px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../home_files/u12_normal.png');
}

.u20_container {
    position:absolute;
    left:52px;
    top:726px;
    width:152px;
    height:152px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:152px;
    height:152px;
}

.u21 {
    position:absolute;
    left:2px;
    top:68px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../home_files/u14_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:942px;
    width:750px;
    height:275px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:281px;
}

.u23 {
    position:absolute;
    left:2px;
    top:78px;
    width:728px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../home_files/u12_normal.png');
}

.u24_container {
    position:absolute;
    left:52px;
    top:998px;
    width:152px;
    height:152px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:152px;
    height:152px;
}

.u25 {
    position:absolute;
    left:2px;
    top:68px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../home_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:1216px;
    width:750px;
    height:274px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:280px;
}

.u27 {
    position:absolute;
    left:2px;
    top:77px;
    width:728px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../home_files/u12_normal.png');
}

.u28_container {
    position:absolute;
    left:52px;
    top:1272px;
    width:152px;
    height:152px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:152px;
    height:152px;
}

.u29 {
    position:absolute;
    left:2px;
    top:68px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u30 {
    position:absolute;
    left:0px;
    top:126px;
    width:750px;
    height:265px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u31 {
    position:absolute;
    left:0px;
    top:401px;
    width:750px;
    height:265px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u32 {
    position:absolute;
    left:0px;
    top:677px;
    width:750px;
    height:265px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u33 {
    position:absolute;
    left:0px;
    top:948px;
    width:750px;
    height:265px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

