body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Approval_Process_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:775px;
    width:750px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Approval_Process_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:120px;
    width:750px;
    height:650px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:656px;
}

.u3 {
    position:absolute;
    left:2px;
    top:317px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Approval_Process_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:593px;
    top:616px;
    width:57px;
    height:57px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:57px;
}

.u5 {
    position:absolute;
    left:2px;
    top:20px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../Approval_Process_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:3px;
    width:518px;
    height:5px;
}

.u6 {
    position:absolute;
    left:126px;
    top:680px;
    width:518px;
    height:10px;
    
}

.u7_normal {
    background-image: url('../Approval_Process_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:318px;
    top:716px;
    width:110px;
    height:110px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:116px;
}

.u8 {
    position:absolute;
    left:2px;
    top:34px;
    width:106px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u9 {
    position:absolute;
    left:40px;
    top:101px;
    width:671px;
    height:501px;
    overflow:hidden;
}

#pd0u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:671px;
    height:501px;
    
}

#u10 {
    position:absolute;
    left:105px;
    top:20px;
    width:2381px;
    height:461px;
    overflow:hidden;
}

#pd0u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:2381px;
    height:461px;
    
}

.u11_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:460px;
    height:460px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:466px;
}

.u12 {
    position:absolute;
    left:20px;
    top:30px;
    width:420px;
    height:246px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:92px;
    top:336px;
    width:275px;
    height:90px;
    ;
    ;
    text-align: center;;
    font-family:'Helvetica';
    font-size: 36px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u15_container {
    position:absolute;
    left:480px;
    top:0px;
    width:460px;
    height:460px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:466px;
}

.u16 {
    position:absolute;
    left:20px;
    top:30px;
    width:420px;
    height:304px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:572px;
    top:336px;
    width:275px;
    height:90px;
    ;
    ;
    text-align: center;;
    font-family:'Helvetica';
    font-size: 36px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u19_container {
    position:absolute;
    left:960px;
    top:0px;
    width:460px;
    height:460px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:466px;
}

.u20 {
    position:absolute;
    left:20px;
    top:30px;
    width:420px;
    height:188px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:1052px;
    top:336px;
    width:275px;
    height:90px;
    ;
    ;
    text-align: center;;
    font-family:'Helvetica';
    font-size: 36px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u23_container {
    position:absolute;
    left:1440px;
    top:0px;
    width:460px;
    height:460px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:466px;
}

.u24 {
    position:absolute;
    left:20px;
    top:30px;
    width:420px;
    height:246px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:1532px;
    top:336px;
    width:275px;
    height:90px;
    ;
    ;
    text-align: center;;
    font-family:'Helvetica';
    font-size: 36px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u27_container {
    position:absolute;
    left:1920px;
    top:0px;
    width:460px;
    height:460px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:466px;
}

.u28 {
    position:absolute;
    left:20px;
    top:30px;
    width:420px;
    height:246px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:2012px;
    top:336px;
    width:275px;
    height:90px;
    ;
    ;
    text-align: center;;
    font-family:'Helvetica';
    font-size: 36px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u31 {
    position:absolute;
    left:0px;
    top:815px;
    width:751px;
    height:1072px;
    overflow:hidden;
}

#pd4u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:1072px;
    
}

.u32_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u32_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:120px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u33 {
    position:absolute;
    left:40px;
    top:20px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:120px;
    width:750px;
    height:120px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u35 {
    position:absolute;
    left:40px;
    top:17px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:674px;
    top:143px;
    width:42px;
    height:74px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u37 {
    position:absolute;
    left:2px;
    top:29px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:240px;
    width:750px;
    height:120px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u39 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u40_container {
    position:absolute;
    left:674px;
    top:263px;
    width:42px;
    height:74px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u41 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:360px;
    width:750px;
    height:120px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u43 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u44_container {
    position:absolute;
    left:674px;
    top:383px;
    width:42px;
    height:74px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u45 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:480px;
    width:750px;
    height:120px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u47 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u48_container {
    position:absolute;
    left:674px;
    top:503px;
    width:42px;
    height:74px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u49 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u50 {
    position:absolute;
    left:450px;
    top:130px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u51 {
    position:absolute;
    left:450px;
    top:250px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u52 {
    position:absolute;
    left:450px;
    top:370px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u53 {
    position:absolute;
    left:450px;
    top:490px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd3u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:1072px;
    
}

.u54_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u54_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:120px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u55 {
    position:absolute;
    left:40px;
    top:20px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:120px;
    width:750px;
    height:120px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u57 {
    position:absolute;
    left:40px;
    top:17px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u58_container {
    position:absolute;
    left:674px;
    top:143px;
    width:42px;
    height:74px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u59 {
    position:absolute;
    left:2px;
    top:29px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:240px;
    width:750px;
    height:120px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u61 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u62_container {
    position:absolute;
    left:674px;
    top:263px;
    width:42px;
    height:74px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u63 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:360px;
    width:750px;
    height:120px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u65 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u66_container {
    position:absolute;
    left:674px;
    top:383px;
    width:42px;
    height:74px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u67 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:480px;
    width:750px;
    height:120px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u69 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u70_container {
    position:absolute;
    left:674px;
    top:503px;
    width:42px;
    height:74px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u71 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u72 {
    position:absolute;
    left:450px;
    top:130px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u73 {
    position:absolute;
    left:450px;
    top:250px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u74 {
    position:absolute;
    left:450px;
    top:370px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u75 {
    position:absolute;
    left:450px;
    top:490px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd2u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:1072px;
    
}

.u76_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u76_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:120px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u77 {
    position:absolute;
    left:40px;
    top:20px;
    width:650px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u78_container {
    position:absolute;
    left:0px;
    top:120px;
    width:750px;
    height:120px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u79 {
    position:absolute;
    left:40px;
    top:17px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u80_container {
    position:absolute;
    left:674px;
    top:143px;
    width:42px;
    height:74px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u81 {
    position:absolute;
    left:2px;
    top:29px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u82_container {
    position:absolute;
    left:0px;
    top:240px;
    width:750px;
    height:120px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u83 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u84_container {
    position:absolute;
    left:674px;
    top:263px;
    width:42px;
    height:74px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u85 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u86_container {
    position:absolute;
    left:0px;
    top:360px;
    width:750px;
    height:120px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u87 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u88_container {
    position:absolute;
    left:674px;
    top:383px;
    width:42px;
    height:74px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u89 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u90_container {
    position:absolute;
    left:0px;
    top:480px;
    width:750px;
    height:120px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u91 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u92_container {
    position:absolute;
    left:674px;
    top:503px;
    width:42px;
    height:74px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u93 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u94 {
    position:absolute;
    left:450px;
    top:130px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u95 {
    position:absolute;
    left:450px;
    top:250px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u96 {
    position:absolute;
    left:450px;
    top:370px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u97 {
    position:absolute;
    left:450px;
    top:490px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd1u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:1072px;
    
}

.u98_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u98_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:120px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u99 {
    position:absolute;
    left:40px;
    top:20px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u100_container {
    position:absolute;
    left:0px;
    top:120px;
    width:750px;
    height:120px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u101 {
    position:absolute;
    left:40px;
    top:17px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u102_container {
    position:absolute;
    left:674px;
    top:143px;
    width:42px;
    height:74px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u103 {
    position:absolute;
    left:2px;
    top:29px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u104_container {
    position:absolute;
    left:0px;
    top:240px;
    width:750px;
    height:120px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u105 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u106_container {
    position:absolute;
    left:674px;
    top:263px;
    width:42px;
    height:74px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u107 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u108_container {
    position:absolute;
    left:0px;
    top:360px;
    width:750px;
    height:120px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u109 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u110_container {
    position:absolute;
    left:674px;
    top:383px;
    width:42px;
    height:74px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u111 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u112_container {
    position:absolute;
    left:0px;
    top:480px;
    width:750px;
    height:120px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u113 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u114_container {
    position:absolute;
    left:674px;
    top:503px;
    width:42px;
    height:74px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u115 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u116 {
    position:absolute;
    left:450px;
    top:130px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u117 {
    position:absolute;
    left:450px;
    top:250px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u118 {
    position:absolute;
    left:450px;
    top:370px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u119 {
    position:absolute;
    left:450px;
    top:490px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:1072px;
    
}

.u120_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u120_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:120px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u121 {
    position:absolute;
    left:40px;
    top:20px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u122_container {
    position:absolute;
    left:0px;
    top:120px;
    width:750px;
    height:120px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u123 {
    position:absolute;
    left:40px;
    top:17px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u124_container {
    position:absolute;
    left:674px;
    top:143px;
    width:42px;
    height:74px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u125 {
    position:absolute;
    left:2px;
    top:29px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u126_container {
    position:absolute;
    left:0px;
    top:240px;
    width:750px;
    height:120px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u127 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u128_container {
    position:absolute;
    left:674px;
    top:263px;
    width:42px;
    height:74px;
}

#u128_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u129 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u130_container {
    position:absolute;
    left:0px;
    top:360px;
    width:750px;
    height:120px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u131 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u132_container {
    position:absolute;
    left:674px;
    top:383px;
    width:42px;
    height:74px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u133 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../Approval_Process_files/u34_normal.png');
}

.u134_container {
    position:absolute;
    left:0px;
    top:480px;
    width:750px;
    height:120px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u135 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../Approval_Process_files/u36_normal.png');
}

.u136_container {
    position:absolute;
    left:674px;
    top:503px;
    width:42px;
    height:74px;
}

#u136_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u137 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u138 {
    position:absolute;
    left:450px;
    top:130px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u139 {
    position:absolute;
    left:450px;
    top:250px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u140 {
    position:absolute;
    left:450px;
    top:370px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u141 {
    position:absolute;
    left:450px;
    top:490px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u142_normal {
    background-image: url('../PageHeader_files/u0_normal.png');
}

.u142_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:120px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u143 {
    position:absolute;
    left:2px;
    top:52px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../PageHeader_files/u2_normal.png');
}

.u144_container {
    position:absolute;
    left:641px;
    top:23px;
    width:78px;
    height:78px;
}

#u144_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:78px;
}

.u145 {
    position:absolute;
    left:2px;
    top:31px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../PageHeader_files/u4_normal.png');
}

.u146_container {
    position:absolute;
    left:24px;
    top:27px;
    width:69px;
    height:69px;
}

#u146_img {
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:69px;
}

.u147 {
    position:absolute;
    left:2px;
    top:26px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u148 {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:120px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u149 {
    position:absolute;
    left:610px;
    top:0px;
    width:140px;
    height:120px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u151 {
    position:absolute;
    left:162px;
    top:24px;
    width:457px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

