body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../index_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:662px;
    width:750px;
    height:783px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:789px;
}

.u1 {
    position:absolute;
    left:250px;
    top:20px;
    width:450px;
    height:174px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../index_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:4px;
    top:690px;
    width:193px;
    height:163px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:163px;
}

.u3 {
    position:absolute;
    left:250px;
    top:30px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:38px;
    top:872px;
    width:699px;
    height:387px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../PageHeader_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:123px;
    width:750px;
    height:92px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:92px;
}

.u6 {
    position:absolute;
    left:2px;
    top:38px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../PageHeader_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:282px;
    top:3px;
    width:69px;
    height:69px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:69px;
}

.u8 {
    position:absolute;
    left:2px;
    top:26px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../PageHeader_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:23px;
    top:0px;
    width:313px;
    height:59px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:313px;
    height:59px;
}

.u10 {
    position:absolute;
    left:2px;
    top:22px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:36px;
    top:149px;
    width:128px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:208px;
    top:149px;
    width:128px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:404px;
    top:146px;
    width:128px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:23px;
    top:94px;
    width:266px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../index_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:207px;
    width:750px;
    height:445px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:451px;
}

.u17 {
    position:absolute;
    left:250px;
    top:20px;
    width:450px;
    height:174px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../index_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:36px;
    top:215px;
    width:151px;
    height:151px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:151px;
}

.u19 {
    position:absolute;
    left:250px;
    top:30px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:36px;
    top:424px;
    width:699px;
    height:172px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../index_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:1446px;
    width:750px;
    height:586px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:592px;
}

.u22 {
    position:absolute;
    left:250px;
    top:20px;
    width:450px;
    height:174px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:36px;
    top:1658px;
    width:699px;
    height:258px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../index_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:2034px;
    width:750px;
    height:609px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:615px;
}

.u25 {
    position:absolute;
    left:250px;
    top:20px;
    width:450px;
    height:116px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:36px;
    top:2216px;
    width:699px;
    height:258px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../index_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:693px;
    top:292px;
    width:42px;
    height:74px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u28 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../index_files/u27_normal.png');
}

.u29_container {
    position:absolute;
    left:693px;
    top:732px;
    width:42px;
    height:74px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u30 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../index_files/u27_normal.png');
}

.u31_container {
    position:absolute;
    left:693px;
    top:1516px;
    width:42px;
    height:74px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u32 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../index_files/u27_normal.png');
}

.u33_container {
    position:absolute;
    left:693px;
    top:2104px;
    width:42px;
    height:74px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u34 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u35 {
    position:absolute;
    left:25px;
    top:1460px;
    width:721px;
    height:198px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u36_normal {
    background-image: url('../PageFooter_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:2644px;
    width:750px;
    height:352px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:352px;
}

.u37 {
    position:absolute;
    left:2px;
    top:168px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../PageFooter_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:39px;
    top:2670px;
    width:232px;
    height:64px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:232px;
    height:64px;
}

.u39 {
    position:absolute;
    left:2px;
    top:24px;
    width:228px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:39px;
    top:2759px;
    width:672px;
    height:215px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../index_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:36px;
    top:2042px;
    width:149px;
    height:151px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:149px;
    height:151px;
}

.u43 {
    position:absolute;
    left:2px;
    top:68px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../index_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:32px;
    top:1473px;
    width:168px;
    height:168px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:168px;
    height:168px;
}

.u45 {
    position:absolute;
    left:2px;
    top:76px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

