body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Approval_Process_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:775px;
    width:750px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Approval_Process_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:770px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:776px;
}

.u3 {
    position:absolute;
    left:2px;
    top:377px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:146px;
    top:20px;
    width:457px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Approval_Process_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:593px;
    top:616px;
    width:57px;
    height:57px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:57px;
}

.u6 {
    position:absolute;
    left:2px;
    top:20px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_line {
    background-image: url('../Approval_Process_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:3px;
    width:518px;
    height:5px;
}

.u7 {
    position:absolute;
    left:126px;
    top:680px;
    width:518px;
    height:10px;
    
}

.u8_normal {
    background-image: url('../Approval_Process_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:647px;
    top:24px;
    width:69px;
    height:69px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:69px;
}

.u9 {
    position:absolute;
    left:2px;
    top:26px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Approval_Process_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:40px;
    top:32px;
    width:60px;
    height:60px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u11 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Approval_Process_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:318px;
    top:716px;
    width:110px;
    height:110px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:116px;
}

.u13 {
    position:absolute;
    left:2px;
    top:34px;
    width:106px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u14 {
    position:absolute;
    left:40px;
    top:101px;
    width:671px;
    height:501px;
    overflow:hidden;
}

#pd0u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:671px;
    height:501px;
    
}

#u15 {
    position:absolute;
    left:105px;
    top:20px;
    width:2381px;
    height:461px;
    overflow:hidden;
}

#pd0u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:2381px;
    height:461px;
    
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:460px;
    height:460px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:466px;
}

.u17 {
    position:absolute;
    left:20px;
    top:30px;
    width:420px;
    height:246px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:92px;
    top:336px;
    width:275px;
    height:90px;
    ;
    ;
    text-align: center;;
    font-family:'Helvetica';
    font-size: 36px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u20_container {
    position:absolute;
    left:480px;
    top:0px;
    width:460px;
    height:460px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:466px;
}

.u21 {
    position:absolute;
    left:20px;
    top:30px;
    width:420px;
    height:304px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:572px;
    top:364px;
    width:275px;
    height:90px;
    ;
    ;
    text-align: center;;
    font-family:'Helvetica';
    font-size: 36px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u24_container {
    position:absolute;
    left:960px;
    top:0px;
    width:460px;
    height:460px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:466px;
}

.u25 {
    position:absolute;
    left:20px;
    top:30px;
    width:420px;
    height:188px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:1052px;
    top:364px;
    width:275px;
    height:90px;
    ;
    ;
    text-align: center;;
    font-family:'Helvetica';
    font-size: 36px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u28_container {
    position:absolute;
    left:1440px;
    top:0px;
    width:460px;
    height:460px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:466px;
}

.u29 {
    position:absolute;
    left:20px;
    top:30px;
    width:420px;
    height:246px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:1532px;
    top:364px;
    width:275px;
    height:90px;
    ;
    ;
    text-align: center;;
    font-family:'Helvetica';
    font-size: 36px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u32_container {
    position:absolute;
    left:1920px;
    top:0px;
    width:460px;
    height:460px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:466px;
}

.u33 {
    position:absolute;
    left:20px;
    top:30px;
    width:420px;
    height:246px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:2012px;
    top:364px;
    width:275px;
    height:90px;
    ;
    ;
    text-align: center;;
    font-family:'Helvetica';
    font-size: 36px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u36 {
    position:absolute;
    left:0px;
    top:815px;
    width:751px;
    height:1072px;
    overflow:hidden;
}

#pd4u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:1072px;
    
}

.u37_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u37_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:120px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u38 {
    position:absolute;
    left:40px;
    top:20px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:120px;
    width:750px;
    height:120px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u40 {
    position:absolute;
    left:40px;
    top:17px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:674px;
    top:143px;
    width:42px;
    height:74px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u42 {
    position:absolute;
    left:2px;
    top:29px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:240px;
    width:750px;
    height:120px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u44 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u45_container {
    position:absolute;
    left:674px;
    top:263px;
    width:42px;
    height:74px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u46 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:360px;
    width:750px;
    height:120px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u48 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u49_container {
    position:absolute;
    left:674px;
    top:383px;
    width:42px;
    height:74px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u50 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:480px;
    width:750px;
    height:120px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u52 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u53_container {
    position:absolute;
    left:674px;
    top:503px;
    width:42px;
    height:74px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u54 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:absolute;
    left:450px;
    top:130px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u56 {
    position:absolute;
    left:450px;
    top:250px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u57 {
    position:absolute;
    left:450px;
    top:370px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u58 {
    position:absolute;
    left:450px;
    top:490px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd3u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:1072px;
    
}

.u59_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:120px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u60 {
    position:absolute;
    left:40px;
    top:20px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:120px;
    width:750px;
    height:120px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u62 {
    position:absolute;
    left:40px;
    top:17px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u63_container {
    position:absolute;
    left:674px;
    top:143px;
    width:42px;
    height:74px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u64 {
    position:absolute;
    left:2px;
    top:29px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:240px;
    width:750px;
    height:120px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u66 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u67_container {
    position:absolute;
    left:674px;
    top:263px;
    width:42px;
    height:74px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u68 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:360px;
    width:750px;
    height:120px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u70 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u71_container {
    position:absolute;
    left:674px;
    top:383px;
    width:42px;
    height:74px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u72 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:480px;
    width:750px;
    height:120px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u74 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u75_container {
    position:absolute;
    left:674px;
    top:503px;
    width:42px;
    height:74px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u76 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u77 {
    position:absolute;
    left:450px;
    top:130px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u78 {
    position:absolute;
    left:450px;
    top:250px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u79 {
    position:absolute;
    left:450px;
    top:370px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u80 {
    position:absolute;
    left:450px;
    top:490px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd2u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:1072px;
    
}

.u81_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u81_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:120px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u82 {
    position:absolute;
    left:40px;
    top:20px;
    width:650px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:120px;
    width:750px;
    height:120px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u84 {
    position:absolute;
    left:40px;
    top:17px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u85_container {
    position:absolute;
    left:674px;
    top:143px;
    width:42px;
    height:74px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u86 {
    position:absolute;
    left:2px;
    top:29px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:240px;
    width:750px;
    height:120px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u88 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u89_container {
    position:absolute;
    left:674px;
    top:263px;
    width:42px;
    height:74px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u90 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u91_container {
    position:absolute;
    left:0px;
    top:360px;
    width:750px;
    height:120px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u92 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u93_container {
    position:absolute;
    left:674px;
    top:383px;
    width:42px;
    height:74px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u94 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u95_container {
    position:absolute;
    left:0px;
    top:480px;
    width:750px;
    height:120px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u96 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u97_container {
    position:absolute;
    left:674px;
    top:503px;
    width:42px;
    height:74px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u98 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u99 {
    position:absolute;
    left:450px;
    top:130px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u100 {
    position:absolute;
    left:450px;
    top:250px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u101 {
    position:absolute;
    left:450px;
    top:370px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u102 {
    position:absolute;
    left:450px;
    top:490px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd1u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:1072px;
    
}

.u103_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u103_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:120px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u104 {
    position:absolute;
    left:40px;
    top:20px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u105_container {
    position:absolute;
    left:0px;
    top:120px;
    width:750px;
    height:120px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u106 {
    position:absolute;
    left:40px;
    top:17px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u107_container {
    position:absolute;
    left:674px;
    top:143px;
    width:42px;
    height:74px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u108 {
    position:absolute;
    left:2px;
    top:29px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u109_container {
    position:absolute;
    left:0px;
    top:240px;
    width:750px;
    height:120px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u110 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u111_container {
    position:absolute;
    left:674px;
    top:263px;
    width:42px;
    height:74px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u112 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u113_container {
    position:absolute;
    left:0px;
    top:360px;
    width:750px;
    height:120px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u114 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u115_container {
    position:absolute;
    left:674px;
    top:383px;
    width:42px;
    height:74px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u116 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u117_container {
    position:absolute;
    left:0px;
    top:480px;
    width:750px;
    height:120px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u118 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u119_container {
    position:absolute;
    left:674px;
    top:503px;
    width:42px;
    height:74px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u120 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u121 {
    position:absolute;
    left:450px;
    top:130px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u122 {
    position:absolute;
    left:450px;
    top:250px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u123 {
    position:absolute;
    left:450px;
    top:370px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u124 {
    position:absolute;
    left:450px;
    top:490px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:1072px;
    
}

.u125_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u125_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:120px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u126 {
    position:absolute;
    left:40px;
    top:20px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:120px;
    width:750px;
    height:120px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u128 {
    position:absolute;
    left:40px;
    top:17px;
    width:650px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u129_container {
    position:absolute;
    left:674px;
    top:143px;
    width:42px;
    height:74px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u130 {
    position:absolute;
    left:2px;
    top:29px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u131_container {
    position:absolute;
    left:0px;
    top:240px;
    width:750px;
    height:120px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u132 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u133_container {
    position:absolute;
    left:674px;
    top:263px;
    width:42px;
    height:74px;
}

#u133_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u134 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u135_container {
    position:absolute;
    left:0px;
    top:360px;
    width:750px;
    height:120px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u136 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u137_container {
    position:absolute;
    left:674px;
    top:383px;
    width:42px;
    height:74px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u138 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../Approval_Process_files/u39_normal.png');
}

.u139_container {
    position:absolute;
    left:0px;
    top:480px;
    width:750px;
    height:120px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:126px;
}

.u140 {
    position:absolute;
    left:40px;
    top:17px;
    width:670px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../Approval_Process_files/u41_normal.png');
}

.u141_container {
    position:absolute;
    left:674px;
    top:503px;
    width:42px;
    height:74px;
}

#u141_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:74px;
}

.u142 {
    position:absolute;
    left:2px;
    top:29px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u143 {
    position:absolute;
    left:450px;
    top:130px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u144 {
    position:absolute;
    left:450px;
    top:250px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u145 {
    position:absolute;
    left:450px;
    top:370px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u146 {
    position:absolute;
    left:450px;
    top:490px;
    width:300px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u147 {
    position:absolute;
    left:613px;
    top:0px;
    width:137px;
    height:122px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

