body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:748px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:748px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:1562px;
  top:0px;
  width:420px;
  height:680px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:680px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:420px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:420px;
}
#u3 {
  position:absolute;
  left:2px;
  top:202px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1142px;
  top:0px;
  width:420px;
  height:680px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:680px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:420px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:420px;
}
#u6 {
  position:absolute;
  left:2px;
  top:202px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:722px;
  top:0px;
  width:420px;
  height:680px;
  overflow:hidden;
}
#u7_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:680px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:420px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FF0000;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:420px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FF0000;
}
#u9 {
  position:absolute;
  left:2px;
  top:174px;
  width:416px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:302px;
  top:0px;
  width:420px;
  height:680px;
  overflow:hidden;
}
#u10_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:680px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:420px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:420px;
}
#u12 {
  position:absolute;
  left:2px;
  top:202px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:82px;
}
#u13 {
  position:absolute;
  left:164px;
  top:184px;
  width:73px;
  height:72px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#0000CC;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
